.notesList {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
}

.notesList div {
  margin-bottom: 50px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 2px 2px 2px rgb(34, 34, 34);
}
.notesList > div:nth-child(odd) {
  background-color: pink;
  border: #4a4e69 solid 10px;
}
.notesList > div:nth-child(even) {
  background-color: #a5abd4;
  border: #4a4e69 solid 10px;
}
